<!--The content below is only a placeholder and can be replaced.-->
<div style="width:100%;text-align:center" class="jumbotron col-md-8">
  <img width="300" alt="Angular Logo" src="../assets/logo.png"> <br>
  <h1>
    Table of contents
  </h1>
</div><br>
<div class="container col-md-10 col-md-offset-2">
    <table class="table table-striped" style="width:80%">
        <tbody>
          <tr>
            <td><a href="#" [routerLink]="['/component']"><pre>Components</pre></a></td>
            <td><a href="#" [routerLink]="['/directive']"><pre>Directive</pre></a></td>
            <td><a href="#" [routerLink]="['/hostlistener']"><pre>Events and @HostListener</pre></a></td>
            <td><a href="#" [routerLink]="['/component']"><pre>@HostListener Cont</pre></a></td>
          </tr>
          <tr>
              <td><a href="#" [routerLink]="['/ngtemplate']"><pre>ng-template</pre></a></td>  
          </tr>
        </tbody> 
      </table>
</div>
<br>
<div class='container col-md-10 col-md-offset-2'>
    <router-outlet></router-outlet>
</div>



