<div class="panel">
  <h4>A custom component with bootstrap datepicker and typeahead</h4>
</div>
<form (ngSubmit)="onSubmit()">
<div class="row">
   <div style="padding-left:15px;">
     <h3>Please select a date :</h3>
   </div>
    <div class="col-xs-12 col-12 col-md-4 form-group">
      <input type="text"
             class="form-control"
             [minDate]="minDate"
             [maxDate]="maxDate"
             [bsConfig]="bsConfig"
             #datepicker="bsDatepicker"
             bsDatepicker [(ngModel)]="bsValue" name="mydatepicker">
    </div>  
  </div>
</form>
  <br>
  <div *ngIf="bsValue" class="panel col-xs-12 col-12 col-md-7 col-md-offset-4" >
     <pre class="code-preview">The selected date is {{bsValue}}</pre>
  </div>